:root {
    --color-accent: 0, 159, 127;
    --color-accent-hover: 1, 147, 118;
    --color-accent-200: 204, 236, 229;
    --color-accent-300: 153, 217, 204;
    --color-accent-400: 77, 188, 165;
    --color-accent-500: 0, 159, 127;
    --color-accent-600: 0, 143, 114;
    --color-accent-700: 0, 119, 95;
    --color-light: 255, 255, 255;
    --color-dark: 0, 0, 0;
    --color-muted-black: 20, 17, 17;
    --color-current: currentColor;
    --text-base: 107, 114, 128;
    --text-base-dark: 75, 85, 99;
    --text-muted: 156, 163, 175;
    --text-muted-light: 209, 213, 219;
    --text-sub-heading: 55, 65, 81;
    --text-heading: 31, 41, 55;
    --text-bolder: 31, 41, 55;
    --color-border-50: 249, 250, 251;
    --color-border-100: 243, 244, 246;
    --color-border-200: 229, 231, 235;
    --color-border-base: 209, 213, 219;
    --color-border-400: 156, 163, 175;
    --color-gray-50: 249, 250, 251;
    --color-gray-100: 243, 244, 246;
    --color-gray-200: 229, 231, 235;
    --color-gray-300: 209, 213, 219;
    --color-gray-400: 156, 163, 175;
    --color-gray-500: 107, 114, 128;
    --color-gray-600: 75, 85, 99;
    --color-gray-700: 55, 65, 81;
    --color-gray-800: 31, 41, 55;
    --color-gray-900: 31, 41, 55;
    --color-orange-50: 255, 247, 237;
    --color-orange-100: 255, 237, 213;
    --color-orange-200: 254, 215, 170;
    --color-orange-300: 253, 186, 116;
    --color-orange-400: 251, 146, 60;
    --color-orange-500: 249, 115, 22;
    --color-orange-600: 234, 88, 12;
    --color-orange-700: 194, 65, 12;
    --color-orange-800: 154, 52, 18;
    --color-orange-900: 124, 45, 18
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

*,
:after,
:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;

    *,
    :after,
    :before {
        --tw-border-spacing-x: 0;
        --tw-border-spacing-y: 0;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        --tw-pan-x: ;
        --tw-pan-y: ;
        --tw-pinch-zoom: ;
        --tw-scroll-snap-strictness: proximity;
        --tw-ordinal: ;
        --tw-slashed-zero: ;
        --tw-numeric-figure: ;
        --tw-numeric-spacing: ;
        --tw-numeric-fraction: ;
        --tw-ring-inset: ;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgba(59, 130, 246, .5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
        --tw-blur: ;
        --tw-brightness: ;
        --tw-contrast: ;
        --tw-grayscale: ;
        --tw-hue-rotate: ;
        --tw-invert: ;
        --tw-saturate: ;
        --tw-sepia: ;
        --tw-drop-shadow: ;
        --tw-backdrop-blur: ;
        --tw-backdrop-brightness: ;
        --tw-backdrop-contrast: ;
        --tw-backdrop-grayscale: ;
        --tw-backdrop-hue-rotate: ;
        --tw-backdrop-invert: ;
        --tw-backdrop-opacity: ;
        --tw-backdrop-saturate: ;
        --tw-backdrop-sepia: ;
    }
}

.bg-accent {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--color-accent), var(--tw-bg-opacity));
}

.text-heading {
    --tw-text-opacity: 1;
    color: rgba(var(--text-heading), var(--tw-text-opacity));
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--color-gray-100), var(--tw-bg-opacity));
}

.text-body-dark {
    --tw-text-opacity: 1;
    color: rgba(var(--text-base-dark), var(--tw-text-opacity));
}

.bg-light {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--color-light), var(--tw-bg-opacity));
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}

.shadow-700 {
    --tw-shadow: rgba(0, 0, 0, .08) 0px 2px 16px;
    --tw-shadow-colored: 0px 2px 16px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.p-5 {
    padding: 1.25rem;
}